<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onebar Lobby</title>
    <link rel="stylesheet" href="/css/theme.css">
</head>
<style>
    img {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        text-align: center;
    }
    a {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
</style>
<body>
    <h1>Welcome to Onebar Lobby</h1>
    <img src="/img/ONElogo.png" alt="Onebar Logo" width="200">
    <h3>Select a game to join.</h3>
    <a href="/game">Enter game</a>
    <br>
    <!-- <a href="/customGame">Choose a lobby to join</a> -->
    <script src="/js/theme.js"></script>
</body>
</html>