<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onebar Lobby</title>
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <h1>Welcome to Onebar Lobby</h1>
    <h3>Select a game to join.</h3>
    <a href="/game">Enter game</a>
    <br>
    <!-- <a href="/customGame">Choose a lobby to join</a> -->
    <script src="/js/theme.js"></script>
</body>
</html>